#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    min-height: calc(100% - 9vh);
    margin: 4.5vh auto;
}

/* Quote */

.__quote {
    border: var(--border-primary);
    max-width: 28.75rem;
    padding: var(--twelve);
    text-align: start;
}

.__quote a {
    word-break: break-word;
}

blockquote {
    width: 80%;
    margin-inline: auto;
    font-style: italic;
}

._author {
    font-style: normal;
}