#about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100% - 9vh);
    margin: 4.5vh auto;
}

.__quote {
    max-width: 28.75rem;
    border: var(--border-shorthand);
    padding: var(--twelve);
    text-align: start;
}

blockquote {
    width: 80%;
    margin-inline: auto;
    font-style: italic;
}

._author {
    font-style: normal;
}