#home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100% - 9vh);
	margin: 4.5vh auto;
}

/* Quote */

.__quote {
	border: 0.063rem solid;
	text-align: left;
}

.__quote h3 {
	font-style: italic;
}

/* Social Media */

.__social-media {
	border: 0.063rem solid;
	width: 100%;
	max-width: 18.75rem;
	margin-top: 0.625rem;
	padding: var(--unit-one) var(--unit-two);
}