#home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: calc(100% - 9vh);
	margin: 4.5vh auto;
}

/* Quote */

.__quote {
	width: 100%;
	max-width: 15.938rem;
	border: var(--border-shorthand);
	text-align: start;
}

.__quote blockquote {
	width: 70%;
    margin-inline: auto;
}

.__quote h3 {
	font-style: italic;
}

/* Social Media */

.__social-media {
	border: var(--border-shorthand);
	width: 100%;
	max-width: 18.75rem;
	margin-block-start: 0.625rem;
	padding: var(--seven) var(--twelve);
}