#home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100% - 9vh);
	margin: 4.5vh auto;
}

/* Quote */

.__quote {
	width: 100%;
	max-width: 15.938rem;
	border: var(--border-main);
	text-align: left;
}

.__quote blockquote {
	width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.__quote h3 {
	font-style: italic;
}

/* Social Media */

.__social-media {
	border: var(--border-main);
	width: 100%;
	max-width: 18.75rem;
	margin-top: 0.625rem;
	padding: var(--unit-one) var(--unit-two);
}