#list {
	width: 85%;
	max-width: 50rem;
	margin: 4.5vh auto;
	text-align: left;
}

#list h3 {
	border-top: 0.125rem solid;
	margin: 0;
	padding-top: 0.25rem;
	text-align: center;
}

.__main-list,
.__tools-list,
.__games-list,
.__other-list {
	margin-bottom: 1.5rem;
}

._item {
	display: flex;
	align-items: center;
}

.info_ {
	width: 100%;
}

.title-link__ h2 {
	margin-bottom: 0;
}

.repo-link__::before {
    content: "";
    display: block;
    background: url("../Images/github.svg");
    background-size: 1.313rem;
	width: 1.313rem;
	height: 1.313rem;
	margin-left: var(--unit-two);
	opacity: 0.8;
	cursor: pointer;
    filter: invert(100%);
}

/* Media Query */

@media (hover: hover) {
	.repo-link__::before {
		opacity: 0.6;
	}

	.repo-link__:hover::before {
		opacity: 0.8;
	}
}

@media (min-width: 42.5rem) { /* 680px */
	.__main-list,
	.__tools-list,
	.__games-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2.5rem;
		grid-row-gap: 0.625rem;
	}
}