:root {
	--font-size-main: 0.906rem; /* 14.5px */
	--font-size-second: 0.688rem; /* 11px */

	--color-main: rgba(0, 0, 0, 0.8);
	--border-main: rgba(0, 0, 0, 0.6);
	--border-shorthand: 0.063rem solid rgba(0, 0, 0, 0.6);

	/* Button */
	--button-hover-backround: rgba(0, 0, 0, 0.8);
	--button-hover-color: rgba(255, 255, 255, 0.9);
	--font-size-button: 0.769rem; /* 12.3px */

	--unit-one: 0.438rem; /* 7px */
	--unit-two: 0.75rem; /* 12px */
}

*, *::before, *::after {
	color: #FAF6F6;
	background-color: #030303;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
    border: 0.063rem solid;
    height: 98.6vh;
    margin: 0.7vh;
	font-size: var(--font-size-main);
	text-align: center;
}

main {
	height: 100%;
	padding: var(--unit-two);
    overflow: auto;
}

/* Footer */

footer {
    border-top: 0.063rem solid;    
    padding: 1rem 0;
}

/* Media Query */

/* Font Size */
@media (max-width: 30rem) { /* 480px */
	html {
		font-size: calc(1rem - 10%);
	}
}
/* -------- */